h1 {
  color: var(--textwhite);
}

.about-article {
  width: 95%;
  align-self: center;
}

.aboutbio {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-basis: content;
  flex-wrap: wrap;
  flex: 1;
}

.card.bio {
  width: 40%;
}
