.about-article {
  display: flex;
  margin: 20px 20px;
  padding: 20px;
  border: solid thin var(--background);
  width: 95%;
  min-width: 300px;
  // background-image: linear-gradient(150deg,#141414, #141414, #141414, #5a5af8);
  // opacity: .9;
  align-self: center;

  p,
  h1,
  h2,
  h3,
  h4 {
    color: var(--textdk);
  }
}

.aboutbio {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-basis: content;
  flex-wrap: wrap;
  flex: 1;
}

.card.bio {
  width: 40%;

  section {
    flex: 1;
  }
}