<section class="card">
  <aside>
    <h2>Hosting</h2>
  </aside>
  <div class="box-container">
    <section class="cardTop">
      <img src="/image.jpg" alt="bla" />
      <h3>Dedicated Hosting</h3>
      <p>Some blurb about a service</p>
      <button>Click Here</button>
    </section>
  </div>
</section>
