<form class="card-comment" action="http://localhost:8080/contact" method="post" class="contact-form">
    <h1>Make A Comment</h1>
     <label>Subject</label>
    <input type="text" class="comment-form-text" name="yoursubject" placeholder="Subject" required />
    <label>Your Message</label>
    <textarea class="comment-form-message" placeholder="Your message" name="yourmessage"></textarea>
    <div></div>
    <input type="submit" id="form-submit" class="email-button" value="Send" required />
  </form>