<script defer src="/assets/js/modal.js"></script>
<template id="modal-base">
  <div class="modal-backdrop">
    <modal>
      <h2>Alert</h2>
      <p class="message"></p>
      <button class="close">OK</button>
    </modal>
  </div>
</template>