<script src="/assets/js/nav.js"></script>

<nav id="nav">
  <button id="hamburger">
    <div class="bars">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <img src="/assets/images/logo/GoLive-WebDevPurWht.png" class="toplogo" alt="" />
  </button>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/services.html">Services</a></li>
    <!-- <li><a href="/projects.html">Projects</a></li> -->
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <% if (user) { %>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
          <li><a href="/blog">Blog</a></li>
  </ul>

  <img src="/assets/images/logo/GoLive-WebDevPurWht.png" class="toplogo" alt="" />
</nav>