.logocircle {
  justify-self: center;
  align-self: center;

}

.homepage {

  p,
  h3,
  h2 {
      color: var(--textdk);
      font-size: larger;
  }

  h2 {
      padding-bottom: 10px;
      padding: 10px;
      color: var(--textdk);
  }

  h1 {
    color: var(--textdk);
    font-size: xx-large;
    padding: 10px;
}

  p {
      padding: 10px;
      color: var(--textdk);
  }

  border: solid thin var(--background);
  box-shadow: 7px 5px var(--background);
  width: 65%;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;

  button {
      background-color: var(--background);
      opacity: .9;
      color: var(--textwhite);
      width: 150px;
      padding: 16px 12px;
      margin: 10px 0;
      font-size: 1.3em;
      align-self: center;
      border: none;
      cursor: pointer;
  }

  img {
      align-self: center;
      justify-self: baseline;
      padding: 5px;
      width: 70%;
  }
}

.homepage-side {

  p,
  h3,
  h2 {
      color: var(--textwhite);
      font-size: larger;
  }

  h2 {
      padding-bottom: 10px;
      padding: 10px;
  }

  h1 {
    color: var(--textdk);
    font-size: xx-large;
    padding: 10px;
}

  p {
      padding-left: 10px;
  }

  border: solid thin var(--background);
  box-shadow: 7px 5px var(--background);
  width: 25%;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: var(--btn);
  display: flex;
  flex-direction: column;

  button {
      background-color: var(--background);
      opacity: .9;
      color: var(--textwhite);
      width: 150px;
      padding: 16px 12px;
      margin: 10px 0;
      font-size: 1.3em;
      align-self: center;
      border: none;
      cursor: pointer;
      justify-self: center;
      margin-top: auto;
  }

  img {
      align-self: center;
      justify-self: baseline;
      padding: 5px;
      width: 80%;
  }
}

