// Colors

:root {
  --background: #141414; // dark grey
  --btn: #5a5af8; // purple
  --header: #5a5af8; // purple
  --dark-header: #4141b1; // purple
  --white: #eeeeee;
  --textwhite: #eeeeee;
  --textdk: #141414; // dark grey
  --yellow: #f8f85a; //yellow
}

.main-content {
  display: flex;
  margin: 20px 20px;
  padding: 30px;
  flex-direction: column;
  border: solid thin var(--background);

  img {
    margin: 10px 0 15px 0;
  }
}

.purple {
  color: var(--btn);
}

.white {
  color: var(--white);
}

//Global

.has-aside {
  display: flex;
  flex-direction: row;

  :not(aside) {
    flex: 1;
  }

  aside {
    padding: 0 30px;
  }
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

html {
  background-color: var(--background);
}

main {
  padding-bottom: 20px;
  background-color: var(--white);
}

h1 {
  font-size: 3.6em;
  color: var(--textdk);
  margin-bottom: 20px;
  font-weight: bolder;
}

h2 {
  font-size: 2.5em;
  color: var(--textdk);
  margin-bottom: 20px;
  font-weight: bolder;
}

h3 {
  font-size: 1.5em;
  color: var(--textdk);
  margin-bottom: 20px;
  font-weight: bolder;
}

h4 {
  font-size: 1.4em;
  color: var(--textdk);
  margin-bottom: 20px;
  font-weight: bolder;
}

p {
  color: var(--textdk);
  margin-bottom: 15px;
  font-size: 1.5em;
  // line-height: calc(1.5 * 1.2em);
  line-height: 1.5;
}

label,
li {
  font-size: 1.5em;
  color: var(--textdk);
}

input,
select,
textarea {
  font-size: 1.5em;
  color: var(--textdk);
  padding: 8px 6px;
}

li {
  color: var(--textdk);
}

a {
  color: var(--header);

  &:visited {
    color: var(--header);
  }

  &:hover {
    color: var(--dark-header);
  }
}

button,
input[type="submit"],
.button {
  background-color: var(--background);
  opacity: 0.9;
  color: var(--textwhite);
  padding: 16px 12px;
  font-size: 1.5em;
  align-self: center;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: 0.1s ease-in-out;
  // border-radius: 5px 20px 5px;

  &:hover {
    background-color: var(--btn);
    color: var(--textwhite);
    outline: var(--background) 2px solid;
  }
}

@media screen and (max-width: 840px) {
  .shrink-wrap {
    flex-direction: column;
  }
}

hr {
  width: 97%;
  height: 6px;
  background-color: var(--header);
  margin: 0 0 10px 1.5%;
}

.button {
  text-decoration: none;

  &:visited {
    color: var(--white);
  }

  &:hover {
    color: var(--white);
    text-decoration: none;
  }
}

.for-flex {
  display: flex;
  flex-direction: row;
  flex-basis: content;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}
