// Colors

:root {
  --background: #141414; // dark grey
  --btn: #5a5af8; // purple
  --header: #5a5af8; // purple
  --white: #eeeeee;
  --textwhite: #eeeeee;
  --textdk: #141414; // dark grey
}

.purple {
  color: var(--btn);
}

.white {
  color: var(--white);
}

//Global



.has-aside {
  display: flex;
  flex-direction: row;

  :not(aside) {
    flex: 1;
  }

  aside {
    padding: 0 30px;
  }
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

html {
  background-color: var(--background);
}

main {
  padding-bottom: 20px;
  background-color: var(--white);
}

h1 {
  font-size: 3.6em;
  color: var(--textdk);
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 20px 10px 10px;
}

h2 {
  font-size: 2.5em;
  color: var(--textdk);
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 20px 10px 10px;
}

h3 {
  font-size: 1.5em;
  color: var(--textdk);
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 20px 10px 10px;
  font-weight: bolder;
}

h4 {
  font-size: 1.4em;
  color: var(--textdk);
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 20px 10px 10px;
  font-weight: bolder;
}

p {
  color: var(--textdk);
  padding: 10px 20px 10px 10px;
  font-size: 1.4em;
}

li {
  color: var(--textdk);
  padding: 10px 20px 10px 40px;
  list-style-type: none;
  font-size: larger;
}

a {
  padding: 20px 20px 0px 0px;
  text-decoration: none;
  color: var(--background);
  font-size: large;
}

a:visited {
  color: var(--white);
}

a:hover {
  color: var(--white);
  text-decoration: underline;
}

img {
  align-self: center;
  justify-self: center;
  padding: 0 20px;
}

button {
  background-color: var(--background);
  opacity: .9;
  color: var(--textwhite);
  padding: 16px 12px;
  font-size: 1.3em;
  align-self: center;
  border: none;
  cursor: pointer;
  justify-self: center;
}

@media screen and (max-width: 840px) {
  .shrink-wrap {
    flex-direction: column;
  }
}