// Colors

:root {
  --background: #141414; // dark grey
  --btn: #5a5af8; // purple
  --header: #5a5af8; // purple
  --white: #eeeeee;
  --textwhite: #eeeeee;
  --textdk: #141414; // dark grey
}

.main-content {
  display: flex;
  margin: 20px 20px;
  padding: 30px;
  flex-direction: column;
  border: solid thin var(--background);

  img {
    margin: 10px 0 15px 0;
  }
}

.purple {
  color: var(--btn);
}

.white {
  color: var(--white);
}

//Global



.has-aside {
  display: flex;
  flex-direction: row;

  :not(aside) {
    flex: 1;
  }

  aside {
    padding: 0 30px;
  }
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

html {
  background-color: var(--background);
}

main {
  padding-bottom: 20px;
  background-color: var(--white);
}

h1 {
  font-size: 3.6em;
  color: var(--textdk);
  padding-bottom: 20px;
}

h2 {
  font-size: 2.5em;
  color: var(--textdk);
  padding-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  color: var(--textdk);
  padding-bottom: 20px;
  font-weight: bolder;
}

h4 {
  font-size: 1.4em;
  color: var(--textdk);
  padding-bottom: 20px;
  font-weight: bolder;
}

p {
  color: var(--textdk);
  padding-bottom: 15px;
  font-size: 1.2em;
  line-height: calc(1.5 * 1.2em);
}

label,
li {
  font-size: 1.2em;
  color: var(--textdk);
}

input,
select,
textarea {
  font-size: 1.2em;
  color: var(--textdk);
  padding: 8px 6px;
}

li {
  color: var(--textdk);
}

a {
  color: var(--background);
  font-size: large;
}

a:visited {
  color: var(--header);
}

a:hover {
  color: var(--white);
  text-decoration: underline;
}

button,
input[type=submit] {
  background-color: var(--background);
  color: var(--textwhite);
  padding: 16px 12px;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .shrink-wrap {
    flex-direction: column;
  }
}

hr {
  width: 95%;
  height: 6px;
  background-color: var(--header);
  margin: 0 0 10px 2.5%;
}

.button {
  background-color: var(--background);
  width: 40%;
  padding: 16px 12px;
  margin: 10px 0;
  font-size: 1.3em;
  cursor: pointer;
  color: var(--white);
  text-align: center;
  text-decoration: none;

  &:visited {
    color: var(--white);
  }

  &:hover {
    color: var(--white);
    text-decoration: none;
  }
}