.homepage {

    p,
    h3,
    h2 {
        color: var(--textwhite);
    }

    h2 {
        padding-bottom: 20px;
        padding-left: 0;
    }

    p {
        padding-left: 10px;
    }

    border: solid thin var(--background);
    box-shadow: 7px 5px var(--background);
    width: 30%;
    min-width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: var(--btn);
    display: flex;
    flex-direction: column;

    button {
        background-color: var(--background);
        opacity: .9;
        color: var(--textwhite);
        width: 150px;
        padding: 16px 12px;
        margin: 10px 0;
        font-size: 1.3em;
        align-self: center;
        border: none;
        cursor: pointer;
    }

    img {
        align-self: center;
        justify-self: baseline;
        padding: 5px;
        width: 70%;
    }
}