h1 {
  color: var(--textwhite);
}

.blog-page {
  p,
  h3,
  h2 {
    color: var(--textwhite);
    font-size: larger;
  }
}

.card-blog {
  p,
  h3,
  h2 {
    font-size: larger;
  }

  h1 {
    color: var(--textdrk);
  }

  a {
    color: var(--textdrk);
  }

  box-shadow: 7px 5px var(--background);
  width: 65%;
  min-width: 300px;
  margin: 10px;
  background-color: var(--white);
  // flex-direction: column;

  .comment-button {
    align-self: auto;
    padding: 7px 7px 10px 7px;
    width: 20%;
  }

  button {
    margin: 20px 0 0 0;
  }
}

.card-bloglist {
  p,
  h3,
  h2 {
    color: var(--textwhite);
    font-size: larger;
  }

  .article-post {
    color: var(--textwhite);
    a {
      color: var(--textwhite);
    }
    margin-left: 30px;
  }

  h2 {
    padding-bottom: 10px;
    padding: 10px;
  }

  h1 {
    color: var(--textwhite);
    font-size: xx-large;
    padding: 10px;
    align-self: center;
  }

  p {
    padding-left: 10px;
  }

  border: solid thin var(--background);
  box-shadow: 7px 5px var(--background);
  width: 25%;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: var(--btn);
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
  }
}
