.card {

    img {
        padding: 10px 20px;
        width: 70%;
    }

    p,
    h3,
    h2 {
        color: var(--textwhite);
        padding-left: 10px;
    }

    h2 {
        padding-bottom: 20px;
        padding-left: 10px;
    }

    border: solid thin var(--background);
    box-shadow: 7px 5px var(--background);
    width: 30%;
    min-width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: var(--btn);
    display: grid;
    flex-direction: column;

}