<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/about/about.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <h1>About Us</h1>
      </header>
      <section id="header-end" class="about-article">
      <div style="display: flex; flex-direction: row; flex-basis: content; flex-wrap: wrap; justify-content: center;"></div>
        <article class="aboutpage">
            <h2>Who We Are</h2>
            <h3>A family team who specializes in frontend and backend website and web app development.</h3>
            <p>Together we have over 40 years of coding experience!</p>
          </article>
        </div>
      </section>
      <section class="aboutbio">
       
          <section class="card bio">
            <img src="/assets/images/about/michele.png" />
            <h2>Michele Tornetta</h2>
            <p></p>
            <p>My speciality is making your website or web app look and feel amazing. I will build a site that is unique and branded to you.</p>
            <p>I also have a background in marketing and business development.</p>
            <p>After coding simple websites and email templates, I chose to attend the Pennsylvania University LLC Coding Bootcamp, graduating in the top of my class.</p>
            
          </section>

          <section class="card bio">
            <img src="/assets/images/about/anthony.png" />
            <h2>Anthony Tornetta</h2>
            <p>I am the guy who makes your website useful, with the ability to capture your customer's information so it can be used for targeted marketing. </p>
            <p>My background also includes making heathcare databases more secure.</p>
            <p>I atteded RIT with Software Engineering as my major, with the honor of being on the Dean's List.<p>
          </section>



      </section>
    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>