<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/about/about.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <h1>About Us</h1>
      </header>
      <section id="header-end" class="about-article">
      <div style="display: flex; flex-direction: row; flex-basis: content; flex-wrap: wrap; justify-content: center;"></div>
        <article class="aboutpage">
            <h2>Who We Are</h2>
            <h3>A team who specializes in frontend and backend website and web app developement.</h3>
              <p>blah blah blah.</p>
              <p>blah blah blah.  </p> 
          </article>
        </div>
      </section>
      <section class="aboutbio">
       
          <section class="card">
            <img src="/assets/images/about/michele.png" />
            <h3>Michele Tornetta</h3>
            <p>As a visual person, I tend to gravatate more towards the frontend, but I also enjoy backend development as well.</p>
            <p>blah blah blah.</p>
            
          </section>

          <section class="card">
            <img src="/assets/images/about/anthony.png" />
            <h3>Anthony Tornetta</h3>
            <p>I started learning how to code at 8 years old and never looked back, only forward.  </p>
            <p>blah blah blah</p>
          </section>



      </section>
    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>