<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/about/about.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <h1>About</h1>
      </header>
      <section id="header-end" class="about-article">
        <div style="display: flex; flex-direction: row; flex-basis: content; flex-wrap: wrap; justify-content: center;">
        </div>
        <article class="aboutpage">
          <h2>About Us</h2>
          <h3 style="font-style: italic;">We are passionate about developing websites and web apps that communicate to
            the world what makes you unique.</h3>
          <hr>
          <p>GoLive WebDev is run by a mother and son team, Michele and Anthony, both with unique skills. Michele
            started learning how to build web pages as a personal hobby. Through that, she found her employer needed
            that type of skill along with marketing skills to start email marketing campaigns. As a single parent, she
            was able to do this work from her home office, thus being a full time mom and provider.</p>
          <p>Anthony, took an interest in programming by watching his mom work. She encouraged his interest at a very
            young age &amp; she taught him some very basic HTML and signed him up for some computer
            courses for very young children. He took that interest and actively looked for more languages to learn. </p>
          <p>Now, they actively share their passion for coding together, having long discussions about different
            programming concepts &amp; best practices.</p>
          <p>When they found they were in need of a product or service, the first place they would look
            would be online. It amazed them both that so many businesses had no online presense or a poorly created
            website. Thus they created GoLive WebDev, a company focused on helping businesses brand themselves with a
            unique website, giving those businesses the power to be found.</p>
        </article>
        </div>
      </section>
      <section class="aboutbio">
        <section class="card bio">
          <img alt="" src="/assets/images/about/michele.png" />
          <section>
            <h2>Michele Tornetta</h2>
            <h3>Co-Founder of GoLive WebDev</h3>
            <h4>Web Developer &amp; Online Marketing Consultant</h4>
            <p>I enjoy developing user friendly interatcive websites and apps that define an organization or individual.
              It's my belief that every website should be unique and tell a story visually and through content.</p>
            <p>I have a background in online marketing and business development. It's my marketing experience that
              taught
              me that a website isn't enough, you need to have a have a sight that has a call to action. It's important
              to
              keep people's attention and to be very clear on what you want a customer to do while on your site or app.
            </p>
            <p>After coding simple websites and email templates, I chose to attend the University of Pennsylvania Coding
              Bootcamp, graduating in the top of my class.</p>
            <p>On a more personal note, my first passion is my family and I love to spend time outdoors riding horses,
              gardening, kayaking and hiking.</p>
          </section>
        </section>
        <section class="card bio">
          <img alt="" src="/assets/images/about/anthony.png" />
          <section>
            <h2>Anthony Tornetta</h2>
            <h3>Co-Founder of GoLive WebDev</h3>
            <h4>Full-Stack Software Engineer</h4>
            <p>From building enterprise-grade applications to simple homepages, I have experience in it all.
              I ensure that every website I make is hand-crafted with security being my first concern.
            </p>
            <p>I make it my number one priority that every customer always has a positive experience.
              Websites I build are tailored towards accessibility, so no customer should ever have trouble
              reading or interacting with your content.
            </p>
            <p>I make sure that your website will stand out against your competition, both through its speed,
              usability,
              accessibility, and visual pizzazz.</p>
          </section>
        </section>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>