<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="./assets/css/home/home.css" />
    <title>GoLive WebDev</title>
  </head>
  <body>
    <%- include('templates/nav.ejs') %>

    <main>
      <header></header>
      <section id="header-end">
        <article>
          <div>
            <div>llll</div>
          </div>
        </article>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
