<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/contact/contact.css" />
    <script defer src="/assets/js/contact.js"></script>
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <%- include('templates/modal.ejs') %>

      <main>
        <header>
          <div class="header-cover">
            <h1>Contact Us</h1>
          </div>
        </header>

        <section>
          <div class="for-flex">
            <article class="contact">
              <h2>Let's Talk</h2>
              <p>Discuss your needs with a specialist.</p>
              <p>
                Please do fill out the Contact Us form and we'll connect with you
                using the method you prefer.
              </p>
              <p>Be sure to let us know what interests you:</p>
              <ul>
                <li>Building Your Website</li>
                <li>Hosting Your Website</li>
                <li>Capturing Visitor information</li>
                <li>Sending Emails to Opt-In Customers</li>
              </ul>
              <img src="/assets/images/contact/womanonphone.png" alt="Woman talking on the phone." />
            </article>

            <form id="contact-form" class="card-contact" action="/contact" method="post" class="contact-form">
              <h2>Want more information?</h2>
              <label for="name">Your Name</label>
              <input type="text" class="contact-form-text" placeholder="Your name" name="name" id="name" required />

              <label for="company">Your Company</label>
              <input type="text" class="contact-form-text" placeholder="Your Company" name="company" id="company" />

              <label for="email">Email</label>
              <input type="email" class="contact-form-text" placeholder="Your email" name="email" id="email" required />

              <label for="phoneNumber">Best Phone Number</label>
              <input type="phone" class="contact-form-text" placeholder="Your Phone Number" name="phoneNumber"
                id="phoneNumber" required />

              <label for="timeZone">Your Time Zone</label>
              <select type="timezone" class="contact-form-text" placeholder="Your Time Zone" name="timeZone"
                id="timeZone" required>
                <option value="est">EST</option>
                <option value="cst">CST</option>
                <option value="mst">MST</option>
                <option value="pst">PST</option>
              </select>

              <label for="preferredContactMethod">Preferred Contact Method</label>
              <select type="contactmethod" class="contact-form-text" placeholder="Preferred Contact Method"
                name="preferredContactMethod" id="preferredContactMethod" required>
                <option value="any">Any Contact Method</option>
                <option value="phone">By Phone</option>
                <option value="email">By Email</option>
              </select>

              <label for="subject">Subject</label>
              <input type="text" class="contact-form-text" name="subject" id="subject" placeholder="Subject" required />

              <label for="message">Your Message</label>
              <textarea class="contact-form-message" placeholder="Your message" name="message" id="message"></textarea>

              <div class="spacer"></div>

              <input type="submit" id="form-submit" class="email-button" value="Send" />
            </form>
          </div>
        </section>
      </main>
      <%- include('templates/footer.ejs') %>
</body>

</html>