<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/global/style.css" />
    <link rel="stylesheet" href="/assets/css/contact/contact.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <h1 class="contact-header">Contact Us</h1>
      </header>

      <section id="header-end">

        <div style="display: flex; flex-direction: row; flex-basis: content; flex-wrap: wrap; justify-content: center;">
         <article class="contact"> 
            <h1>Let's Talk</h1>
            <p>Discuss your needs with a specialist.</p>
           <p>Please do fill out the Contact Us form and we'll connect with you using the method you prefer.</p>
            <img src="/assets/images/home/servers2.png" /> 
            <img src="/assets/images/home/servers2.png" /> 
          
          </article>
  


        <form class="card-contact" action="http://localhost:8080/contact" method="post" class="contact-form">
          <h1>Want more information?</h1>
          <input type="text" class="contact-form-text" placeholder="Your name" name="yourname" required />
          <input type="text" class="contact-form-text" placeholder="Your Company" companyname="companyname"/>
          <input type="email" class="contact-form-text" placeholder="Your email" name="youremail" required />
          <input type="phone" class="contact-form-text" placeholder="Your Phone Number" name="yourphonenumber"
          required />
          <select type="timezone" class="contact-form-text" placeholder="Your Time Zone" name="yourtimezone"
          required>
          <option value="EST">EST </option>
          <option value="CST">CST </option>
          <option value="MST">MST </option>
          <option value="PST">PST </option>
          </select>
          <select type="contactmethod" class="contact-form-text" placeholder="Preferred Contact Method" name="perferredcontactmethod"
          required >
          <option value="nopreference">No Preferred Contact Method</option>
          <option value="phone">By Phone</option>
          <option value="email">By Email </option>
          </select>
          <input type="text" class="contact-form-text" name="yoursubject" placeholder="Subject" required />
          <textarea class="contact-form-message" placeholder="Your message" name="yourmessage"></textarea>
          <div></div>
          <input type="submit" id="form-submit" class="email-button" value="Send" required />
        </form>
      </section>
    </div>

    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>