<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head.ejs') %> 
    <script src="./assets/js/script.js" defer></script>
    <title>GoLive WebDev</title>
</head>
<body>
    <%- include('templates/nav.ejs') %> 
    
    <main>
        <section>

            <article>

                <div>

                    <div>

                    </div>

                </div>
                
            </article>


        </section>
    </main>
    <footer>
        <h2 class="footer">&copy; GoLive WebDev</h2>
    </footer>
</body>
</html>