<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="./assets/css/home/home.css" />

    <title>GoLive WebDev</title>
  </head>
  <body>
    <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <div class="header-cover">
          <div class="header-card">
            <img
              src="assets/images/logo/GLWDCirclePur50.png"
              class="logocircle"
              alt="GoLive WebDev logo."
            />
            <h1>
              <span class="purple">Go</span><span class="grey">Live</span>
              <span class="purple">Web</span><span class="grey">Dev</span>
            </h1>
            <hr />
            <p>Catchy slogan about web development</p>
          </div>
        </div>
      </header>

      <section id="header-end" style="background-color: #333">
        <script>
          for (let i = 0; i < 100; i++) {
            document.write("<p>Content</p>");
          }
        </script>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
