<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/home/home.css" />

    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <%- include('templates/modal.ejs') %>

      <main>
        <header class="header-big">
          <div class="header-cover">
            <div class="header-card">
              <img src="assets/images/logo/GLWDCirclePur.png" class="logocircle" alt="GoLive WebDev logo." />
              <h1>
                <span class="purple">Go</span><span class="white">Live</span>
                <span class="purple">Web</span><span class="white">Dev</span>
              </h1>
              <hr />
              <p>Go Live on the Web so the world can find you!</p>
            </div>
          </div>
        </header>

        <section>
          <div class="for-flex">
            <article class="homepage">
              <h2>How can I have a Great Website?</h2>
              <p> Look no further! Our Web Development services are tailored to meet your unique business
                needs, driving unparalleled growth and success in the digital realm.</p>

              <p>At our core, we're passionate about crafting pixel-perfect websites that not only showcase your brand
                while also offering seamless user experiences. We are dedicated to turning your vision into reality.</p>

              <h3>Innovation at its Best</h3>
              <p>In the fast-paced world of technology, staying ahead of the curve is essential. We specialize in using the latest trends, frameworks, and technologies to build websites that are not only visually appealing but also functionally superior. We will keep your website up-to-date, secure, and on the cutting-edge of technology.</p>

              <p>We understand that each business is unique. That's why we don't believe in one-size-fits-all solutions. We take the time to understand your goals and requirements, ensuring that the final product  aligns perfectly with your brand identity.
              </p>

              <h3>Web Design &amp; Development</h3>
              <p>Using your graphics, photos or images we procure for you, we create visually striking layouts that capture the essence of your brand. With a keen eye for aesthetics and user-centric design, we transform concepts into engaging visual experiences.
              </p>

              <p>From simple websites to complex web applications, our development team has the skills to bring your ideas to life. We specialize in front-end and back-end development, ensuring a seamless and responsive website across all devices.</p>

              <h3>SEO and Performance Optimization</h3>
              <p>A stunning website is only valuable if people can find it. We optimize your website to rank higher on search engines, boosting your online visibility. We do this by fine-tuning every aspect of your website for optimal performance, ensuring lightning-fast loading times and exceptional user experiences.</p>

              <h3>Let's Build Your Digital Future</h3>

              <p>Join us to embark on a journey of digital transformation. Together, we'll build a website that not only meets your expectations but exceeds them. Whether you're a startup looking to make an impact or an established brand aiming for a refresh, our web development solutions are tailored to elevate your online presence. <a href="/contact.html">Contact us</a> today to get started on your path to digital success!</p>
            </article>
            <article class="homepage-side">
              <h3 style="padding-left: 10px">Connect with your customers and brand your business!</h3>
              <img style="width: 100%; padding-bottom: 20px" src="/assets/images/home/family.png"
                alt="A picture of a family, your potential client." />
              
              <p>Don't miss this opportunity to elevate your business to new heights and forge a strong bond with your customers. Let us help you Connect with your customers and brand your business! <a style="color: #eeeeee" href="/contact.html">Contact us</a> today to get started on this exciting journey.</p>
             
              <!-- <img style="width: 100%; padding-bottom: 20px" src="/assets/images/home/bgpursm.png"
                alt="A picture of a family, your potential client." /> -->
                <img style="height: auto; width: 60%" src="/assets/images/logo/GoLive-WebDev-LogoWHT.png" class="toplogo" alt="GoLive WebDev Logo" />
                <h3>We're your local web page developer in Lebanon PA.</h3>

            </article>
          </div>
        </section>
      </main>
      <%- include('templates/footer.ejs') %>
</body>

</html>