<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <link rel="stylesheet" href="/assets/css/login/login.css" />
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <section class="login-page">
          <div class="login-cover">
            <h1>Login</h1>
            <form class="form" id="login-form" method="post">
              <div>
                <label for="username">
                  <h3>Username:</h3>
                </label>
                <input id="username" required name="username" />
              </div>
              <div>
                <label for="password">
                  <h3>Password:</h3>
                </label>
                <input id="password" type="password" required name="password" />
              </div>
              <input type="submit" value="Login" />
              <div>
                <h2>Not a member? Sign up instead :)!</h2>
              </div>
            </form>
            <script defer>
              document.getElementById("login-form").onsubmit = function (e) {
                e.preventDefault();

                const username = document.getElementById("username").value;
                const password = document.getElementById("password").value;

                fetch("/api/users/login/", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    username,
                    password,
                  }),
                }).then((res) => {
                  if (res.status === 200) {
                    res.json().then((res) => {
                      console.log(res);
                      if (res.err) {
                        alert(res.err);
                      } else {
                        window.location.href = "/";
                      }
                    });
                  } else {
                    alert("Invalid username/password!");
                  }
                });
              };
            </script>
          </div>
          <div class="login-cover">
            <h1>Sign Up</h1>
            <form class="form" id="signup-form">
              <div>
                <label for="username">
                  <h3>Username:</h3>
                </label>
                <input id="username" name="username" required />
              </div>
              <div>
                <label for="email">
                  <h3>Email:</h3>
                </label>
                <input id="email" name="email" required />
              </div>
              <div>
                <label for="password">
                  <h3>Password:</h3>
                </label>
                <input id="password" type="password" name="password" minlength="8" required />
              </div>
              <input type="submit" value="Sign up" />
            </form>

            <script defer>
              document.getElementById("signup-form").onsubmit = function (e) {
                e.preventDefault();

                const username = document.getElementById("username").value;
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;

                fetch("/api/user/register/", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    username,
                    email,
                    password,
                  }),
                }).then((res) => {
                  const status = res.status;
                  res.json().then((res) => {
                    if (status === 200) {
                      if (res.err) {
                        alert(res.err);
                      } else {
                        window.location.href = "/";
                      }
                    } else {
                      alert(res.err);
                    }
                  });
                });
              };
            </script>
          </div>
          </div>
        </section>
      </header>
      <div id="header-end"></div>
    </main>
    <%- include('templates/footer.ejs') %>
</body>

</html>