<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>
    <script src="./assets/js/script.js" defer></script>
    <title>GoLive WebDev</title>
  </head>
  <body>
    <%- include('templates/nav.ejs') %>

    <main>
      <header>
      <section id="header-end">
        <article>
          <div>
            <div>asdasd</div>
          </div>
        </article>
      </section>
    </header>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
