<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>
    <title>GoLive WebDev</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <%- include('templates/modal.ejs') %>

      <main>
        <header>
          <section>
            <article>
              <div>
                <div>asdasd</div>
              </div>
            </article>
          </section>
        </header>
      </main>
      <%- include('templates/footer.ejs') %>
</body>

</html>