<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/services/services.css" />
    <script src="/assets/js/accordion.js" defer></script>
    <script src="/assets/js/carousel.js" defer></script>
    <title>GoLive WebDev | Services</title>
  </head>

  <body>
    <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <div class="header-cover">
          <h1 class="services">Custom Website Development</h1>
        </div>
      </header>
      <section>
        <div class="for-flex">
          <section class="card services">
            <!-- Slideshow container -->
            <section class="carousel-container">
              <div id="carousel">
                <img
                  class="img-size"
                  src="/assets/images/services/PizzaShop.png"
                  alt="Tony's Pizza"
                />
                <img
                  class="img-size"
                  src="/assets/images/services/fabulously-fit.png"
                />
                <img
                  class="img-size"
                  src="/assets/images/services/lawyeroffice.png"
                  alt="Wire Frame Sample Layout"
                />
                <img
                  class="img-size"
                  src="/assets/images/services/wireframe2.png"
                  alt="Wire Frame Sample Layout"
                />
              </div>
            </section>
            <!-- <div class="websitebldimg">
            <img src="/assets/images/services/wireframe2.png"
            />
        </div> -->
            <h2>Never any hidden fees!</h2>
            <p>
              Our website building service for businesses and individuals is designed to provide
              a comprehensive and tailored solution that caters to the specific needs and goals of each client. Whether you are an individual, a small startup or an established enterprise, we are here to create an exceptional online presence for
              you.
            </p>

            <h4>Here's a breakdown of our website building service:</h4>

            <ul>
              <li>
                <strong>Consultation and Planning:</strong> Our process begins with an in-depth
                consultation to understand your business objectives, target
                audience, and specific requirements. We'll work closely with you
                to outline a clear plan that aligns with your vision.
              </li>

              <li>
              <strong>Custom Design:</strong> We will craft a unique and visually
                appealing website design that reflects your brand identity and
                resonates with your customers. The design will be both
                aesthetically pleasing and user-friendly, ensuring a seamless
                user experience.
              </li>

              <li>
              <strong>Responsive Development:</strong> We believe in creating websites that
                adapt to various devices and screen sizes. We will
                ensure that your website is fully responsive, enabling your
                customers to access it effortlessly on desktops, tablets, and
                smartphones.
              </li>

              <li>
              <strong>E-commerce Integration (Optional):</strong> If you are running an online
                store, we can incorporate e-commerce functionality, enabling you
                to showcase products, manage inventory, and process secure
                transactions.
              </li>

              <li>
              <strong>Search Engine Optimization (SEO):</strong> We will integrate your keywords to optimize your
                website for search engines, making it more visible to potential
                customers and improving its chances of ranking higher in search
                results.
              </li>

              <li>
              <strong>Performance and Security:</strong> We prioritize website performance and
                security. We will optimize loading times and
                implement robust security measures to protect your website and
                your customers' data.
              </li>

              <li>
              <strong>Testing and Quality Assurance:</strong> Before launching your website, we
                conduct extensive testing to ensure it functions flawlessly
                across different browsers and devices, providing a seamless
                experience for all users.
              </li>

              <li>
              <strong>Launch and Support:</strong> Once your website is ready, we'll assist you
                in launching it and continue to provide ongoing support to
                address any technical issues and help you make updates as
                needed.
              </li>

              <li>
              <strong>Analytics and Monitoring:</strong> We'll set up website analytics to
                track performance metrics, allowing you to gain insights into
                user behavior and make informed decisions for further
                improvements.
              </li>
            </ul>

            <p>
              With our website building service, you can expect a professionally
              designed, fully functional, and user-friendly website that
              effectively showcases your business, helping you to attact new customers, and
              achieve your online goals. Let us transform your online
              presence and take your business to new heights. <a href="/contact.html">Contact us</a> today
              to get started!
            </p>
            <hr />
            <section>
              <h3>Basic Package</h3>
              <p>
                The Basic Package is perfect for those who are looking to have a
                simple landing page with a call to action.
              </p>
              <h4>What's Included</h4>
              <ul>
                <li>3 Pages</li>
                <li>Contact Form</li>
                <li>Hosting</li>
                <li>Free Content Updates up to 2 Times Per Month</li>
                <li>Month to Month Contract</li>
              </ul>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card">
                  <h3>Basic Package</h3>
                  <p>$500 initial fee for website creation</p>
                  <p>$150 monthly</p>
                </div>
              </div>
            </section>
            <hr />
            <section>
              <h3>Standard Business Package</h3>
              <p>
                The Standard Business Package is ideal for those who are looking
                to do more than generate leads, but also want to capture those
                leads.
              </p>
              <h4>What's Included</h4>
              <ul>
                <li>Includes the Basic Package</li>
                <li>Plus An Additional 5 pages</li>
                <li>Blog Page</li>
                <li>Database For User Contacts & Blog Articles</li>
                <li>Login/Logout Capability</li>
                <li>Content Updates up to 4 Times Per Month</li>
              </ul>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card services">
                  <h3>Standard Business Package</h3>
                  <p>
                    $750 initial fee for website creation and database setup
                  </p>
                  <p>$250 monthly</p>
                </div>
              </div>
            </section>
            <hr />
            <section>
              <h3>Storefront Business Package</h3>
              <p>
                The Storefront Business Package is ideal for those who are
                looking to do more than generate leads.
              </p>
              <h4>What's Included</h4>
              <ul>
                <li>Includes the Basic & Standard Packages</li>
                <li>Plus an addition 2 pages (totaling 10 pages)</li>
                <li>Database For Products</li>
                <li>*Your Shopping Cart of Choice integration</li>
                <li>Ability to add and change products</li>
                <li>Content Updates up to 4 Times Per Month</li>
              </ul>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card services">
                  <h3>Standard Business Package</h3>
                  <p>
                    $1000 initial fee for website creation and database setup
                  </p>
                  <p>$500 monthly</p>
                  <p>
                    *Note: When choosing your shopping cart service, they will
                    charge you a monthly or per sale fee. We are not responsible
                    for the actual service they provide - only the integration
                    of that service.
                  </p>
                </div>
              </div>
            </section>
            <hr />
            <section class="flex1-removal">
              <h2 class="center">Want more information?</h2>
              <a class="button-contact" href="/contact.ejs"
                >Contact Us Today!</a
              >
            </section>
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
