<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/services/services.css" />
    <script src="/assets/js/accordion.js" defer></script>
    <script src="/assets/js/carousel.js" defer></script>
    <title>GoLive WebDev | Services</title>
  </head>

  <body>
    <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <div class="header-cover">
          <h1 class="services">Custom Website Development</h1>
        </div>
      </header>
      <section>
        <div class="for-flex">
          <section class="card services">
            <!-- Slideshow container -->
            <section class="carousel-container">
              <div id="carousel">
                <img
                  class="img-size"
                  src="/assets/images/services/PizzaShop.png"
                  alt=""
                />
                <img
                  class="img-size"
                  src="/assets/images/services/fabulously-fit.png"
                  alt=""
                />
                <img
                  class="img-size"
                  src="/assets/images/services/lawyeroffice.png"
                  alt=""
                />
                <img
                  class="img-size"
                  src="/assets/images/services/wireframe2.png"
                  alt=""
                />
              </div>
            </section>
            <h2 style="padding-top: 20px">Never any hidden fees!</h2>
            <p>
              Our website building service for businesses and individuals is
              designed to provide a comprehensive and tailored solution that
              caters to the specific needs and goals of each client. Whether you
              are an individual a small startup or an established enterprise, we
              are here to create an exceptional online presence for you.
            </p>

            <h4>Here's a breakdown of our website building service:</h4>

            <ul>
              <li>
                Consultation and Planning: Our process begins with an in-depth
                consultation to understand your business objectives, target
                audience, and specific requirements. We'll work closely with you
                to outline a clear plan that aligns with your vision.
              </li>

              <li>
                Custom Design: We will craft a unique and visually appealing
                website design that reflects your brand identity and resonates
                with your customers. The design will be both aesthetically
                pleasing and user-friendly, ensuring a seamless user experience.
              </li>

              <li>
                Responsive Development: We believe in creating websites that
                adapt to various devices and screen sizes. We will ensure that
                your website is fully responsive, enabling your customers to
                access it effortlessly on desktops, tablets, and smartphones.
              </li>

              <li>
                E-commerce Integration (Optional): If you are running an online
                store, we can incorporate e-commerce functionality, enabling you
                to showcase products, manage inventory, and process secure
                transactions.
              </li>

              <li>
                Search Engine Optimization (SEO): We will integrate your
                keywords to optimize your website for search engines, making it
                more visible to potential customers and improving its chances of
                ranking higher in search results.
              </li>

              <li>
                Performance and Security: We prioritize website performance and
                security. We will optimize loading times and implement robust
                security measures to protect your website and your customers'
                data.
              </li>

              <li>
                Testing and Quality Assurance: Before launching your website, we
                conduct extensive testing to ensure it functions flawlessly
                across different browsers and devices, providing a seamless
                experience for all users.
              </li>

              <li>
                Launch and Support: Once your website is ready, we'll assist you
                in launching it and continue to provide ongoing support to
                address any technical issues and help you make updates as
                needed.
              </li>

              <li>
                Analytics and Monitoring: We'll set up website analytics to
                track performance metrics, allowing you to gain insights into
                user behavior and make informed decisions for further
                improvements.
              </li>
            </ul>

            <p>
              With our website building service, you can expect a professionally
              designed, fully functional, and user-friendly website that
              effectively showcases your business, helping you to attact new
              customers, and achieve your online goals. Let us transform your
              online presence and take your business to new heights.
              <a href="/contact.html">Contact us</a> today to get started!
            </p>
            <hr />
            <div style="width: 100%; display: flex; justify-content: center; padding-top: 20px;">
              <table style="max-width: 90%;   border: 1px #141414;">
                <thead>
                  <tr>
                    <th style="width: 50%">Service Package Description</th>
                    <th style="width: 16.6666666%;">Basic Package</th>
                    <th style="width: 16.6666666%;">
                      Standard Business Package
                    </th>
                    <th style="width: 16.6666666%;">
                      Storefront Business Package
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Consultation &amp; Planning</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Landing Page</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Website Branding</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Contact Form</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Custom Designed Website (3 Page Max) </td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Custom Designed Website (3 Page Max) </td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Responsive Development</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Responsive Development</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Performance and Security</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Testing and Quality Assurance</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Hosting</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Launch and Support</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Free Content Updates (2x a month)</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Analytics and Monitoring Reports</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Blog Page</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>User Login/Logout Capability</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Database For User Contacts & Blog Articles</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>  
                  <tr>
                    <td>Search Engine Optimization (SEO)</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr> 
                  <tr>
                    <td>Custom Designed Website (5 Page Max)</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>
                  <tr>
                    <td>Content Updates (4x a month)</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                    <td>&#x2713;</td>
                  </tr>  
                  <tr>
                    <td>Admin Page</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                  </tr>    
                  <tr>
                    <td>Product Database</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                  </tr>   
                  <tr>
                    <td>E-commerce Integration (Optional)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                  </tr>  
                  <tr>
                    <td>*Your Shopping Cart of Choice integration</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                  </tr>    
                  <tr>
                    <td>Custom Designed Website (20 Page Max)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&#x2713;</td>
                  </tr>   
                       
                </tbody>
              </table>
            </div>
            <section style="padding-top: 20px;">
              <hr />
              <h3>Basic Package</h3>
              <p>
                The Basic Package is perfect for those who are looking to have a
                simple landing page with a call to action.
              </p>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card">
                  <h3>Basic Package</h3>
                  <p>$500 initial fee for website creation</p>
                  <p>$150 monthly</p>
                </div>
              </div>
            </section>
            <hr />
            <section>
              <h3>Standard Business Package</h3>
              <p>
                The Standard Business Package is ideal for those who are looking
                to do more than generate leads, but also want to capture those
                leads.
              </p>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card services">
                  <h3>Standard Business Package</h3>
                  <p>
                    $750 initial fee for website creation and database setup
                  </p>
                  <p>$250 monthly</p>
                </div>
              </div>
            </section>
            <hr />
            <section>
              <h3>Storefront Business Package</h3>
              <p>
                The Storefront Business Package is ideal for those who are
                looking to do more than generate leads.
              </p>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card services">
                  <h3>Standard Business Package</h3>
                  <p>$1000 initial fee for website creation</p>
                  <p>$500 monthly</p>
                  <p>
                    *Note: When choosing your shopping cart service, they will
                    charge you a monthly or per sale fee. We are not responsible
                    for the actual service they provide - only the integration
                    of that service.
                  </p>
                </div>
              </div>
            </section>
            <hr />
            <section class="flex1-removal">
              <h2 class="center">Want more information?</h2>
              <a class="button-contact" href="/contact.ejs"
                >Contact Us Today!</a
              >
            </section>
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
