<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="/assets/css/services/services.css" />
    <meta
      name="description"
      content="GoLive WebDev offers services ranging from custom website creation to email marketing campaigns."
    />
    <title>GoLive WebDev | Services</title>
  </head>

  <body>
    <%- include('templates/nav.ejs') %> <%- include('templates/modal.ejs') %>

    <main>
      <header>
        <div class="header-cover">
          <h1 class="services">Services</h1>
        </div>
      </header>
      <section>
        <div class="for-flex">
          <section class="card">
            <img
              style="height: auto; width: 70%"
              src="/assets/images/services/wireframe2.png"
            />
            <section class="full">
              <h2>Custom Website</h2>
              <p>We will build and maintain your website.</p>
              <p>We will update your website up to twice a month for free.</p>
              <p>Want weekly or even daily changes? We can do that too!</p>
            </section>
            <a
              class="button learn-more"
              href="service-website-building-description.html"
              >Learn More</a
            >
          </section>

          <section class="card">
            <img
              style="height: auto; width: 70%"
              src="/assets/images/home/servers.png"
            />
            <section class="full">
              <h2>Dedicated Hosting</h2>
              <p>
                We provide dedicated hosting that will help address regulatory
                requirements and corporate compliance so you don't have too!
              </p>
              <p>This will be included in the creation of your website.</p>
            </section>
            <a
              class="button learn-more"
              href="/service-website-building-description.html"
              >Learn More</a
            >
          </section>

          <section class="card">
            <img
              style="height: auto; width: 70%"
              src="/assets/images/services/database.png"
            />
            <section class="full">
              <h2>Data Storage</h2>
              <p>
                Capture your customer's information in order to keep in touch.
                Track their purchasing behavior, allowing you to reach out to
                them with the right product or service at the right time.
              </p>
            </section>
            <a
              class="button learn-more"
              href="/service-website-building-description.html"
              >Learn More</a
            >
          </section>

          <section class="card">
            <img
              style="height: auto; width: 70%"
              src="/assets/images/services/url.png"
            />
            <section class="full">
              <h2>Domain Names</h2>
              <p>
                We can secure an available domain name and email address for
                you.
              </p>
              <p>
                Whether you need one domain, or multiple domains, we've got you
                covered.
              </p>
            </section>
            <a class="button learn-more" href="/additional-services.html#url"
              >Learn More</a
            >
          </section>
          <section class="card">
            <img
              style="height: auto; width: 70%"
              src="/assets/images/services/email.png"
            />
            <section class="full">
              <h2>Email Marketing</h2>
              <p>We do your email marketing for you.</p>
              <p>
                Do you need someone to create email templates for you? How about
                sending those emails to your opt-in contacts? Yes, we can do
                that too.
              </p>
            </section>
            <a class="button learn-more" href="/service-email-description.html"
              >Learn More</a
            >
          </section>

          <section class="card">
            <img
              style="height: auto; width: 70%"
              src="/assets/images/services/searchbar2.png"
            />
            <section class="full">
              <h2>Advertisements</h2>
              <p>
                Any good website needs an equally good marketing campaign.
                Advertisements are a great place to start.
              </p>
              <p>
                Instead of charging you for hosting the ads, you are only
                charged when people actively engage with your website through
                advertisements.
              </p>
            </section>
            <a
              class="button learn-more"
              href="/additional-services.html#advertisements"
              >Learn More</a
            >
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
