<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/services/services.css" />
    <script src="/assets/js/accordion.js" defer></script>
    <script src="/assets/js/carousel.js" defer></script>
    <title>GoLive WebDev | Services</title>
  </head>

  <body>
    <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <div class="header-cover">
          <h1 class="services">Email Marketing Services</h1>
        </div>
      </header>
      <section>
        <div class="for-flex">
          <section class="card services">
            <!-- Slideshow container -->
            <section class="carousel-container">
              <div id="carousel">
                <img
                class="img-size"
                src="/assets/images/services/lwemail.png"
                alt="Lescavage &amp; Wolfe"
              />
                <img
                  class="img-size"
                  src="/assets/images/services/PizzaShopEmail.png"
                  alt="Tony's Pizza"
                />
                <img
                  class="img-size"
                  src="/assets/images/services/fabulouslyfitemail.png"
                />
                <img
                  class="img-size"
                  src="/assets/images/services/mountaininnemail.png"
                  alt="Mountain Lupine Inn"
                />
                <img
                class="img-size"
                src="/assets/images/services/lwemail.png"
                alt="Lescavage &amp; Wolfe"
              />
                <img
                class="img-size"
                src="/assets/images/services/PizzaShopEmail.png"
                alt="Tony's Pizza"
              />

              <img
                class="img-size"
                src="/assets/images/services/fabulouslyfitemail.png"
              />
              <img
                class="img-size"
                src="/assets/images/services/mountaininnemail.png"
                alt="Mountain Lupine Inn"
              />
              <img
              class="img-size"
              src="/assets/images/services/lwemail.png"
              alt="Lescavage &amp; Wolfe"
            />
              <img
              class="img-size"
              src="/assets/images/services/PizzaShopEmail.png"
              alt="Tony's Pizza"
            />

            <img
              class="img-size"
              src="/assets/images/services/fabulouslyfitemail.png"
            />
            <img
              class="img-size"
              src="/assets/images/services/mountaininnemail.png"
              alt="Mountain Lupine Inn"
            />
              </div>
            </section>
            <h2>Never any hidden fees!</h2>
              <p>Our email marketing service for businesses is a powerful and cost-effective way to engage with your target audience, nurture customer relationships, and drive conversions. Through well-crafted and targeted email campaigns, we help businesses effectively communicate their message, promote products or services, and achieve their marketing goals.</p>
            <h3>Here's an overview of our email marketing service:</h3>
              <ul>
                <li><strong>Email Campaign Strategy:</strong> We begin by understanding your business objectives, target audience, and business branding and your comprehensive email marketing strategy considering your overall marketing efforts.</li>
                <li><strong>List Building and Segmentation:</strong> We take your email list of interested subscribers and segment them based on your chosen factors such as demographics, behavior, and purchase history. This allows us to send personalized and relevant content to different segments.</li>
                <li><strong>Responsive Email Design:</strong> With mobile usage on the rise, we ensure that all our email templates are responsive, meaning they adapt seamlessly to different screen sizes and devices, providing an optimal user experience.</li>
                <li><strong>Automated Campaigns:</strong> We can implement automation to streamline your email marketing efforts. This includes welcome emails, abandoned cart reminders, drip campaigns, and more, helping you nurture leads and convert them into customers.</li>
                <li><strong>A/B Testing:</strong> To optimize campaign performance, when you choose the Stanard Business Plan or the Storefront Business Plan, we conduct A/B tests on various email elements, such as subject lines, CTAs, and visuals. This data-driven approach allows us to refine your strategies for better results.</li>
                <li><strong>Deliverability and Compliance:</strong> We follow best practices to ensure high email deliverability rates and compliance with anti-spam laws. We use reputable email service providers and maintain clean lists to avoid landing in spam folders.</li>
                <li><strong>Performance Tracking and Reporting:</strong> We monitor the performance of each email campaign, providinb open rates, click-through rates, conversions, and other metrics. Regular reports help you understand campaign effectiveness and make data-backed decisions for future strategies.</li>
                <li><strong>Personalization and Dynamic Content:</strong> By leveraging customer data, we create personalized email experiences that resonate with recipients, making them feel valued and understood.</li>
                <li><strong>Customer Segmentation:</strong> We can refine and update the segmentation approach to tailor content based on your user behavior, preferences, and engagement levels.</li>
              </ul>
              <p>Our email marketing service is designed to build brand loyalty, drive sales, and ultimately contribute to the growth and success of your business. Get in touch with us to unlock the potential of email marketing for your business today!</p>
            <hr /> 
            <section>
              <h3>Basic Package</h3>
              <p>
                The Basic Package is perfect for those who are looking to have a
                simple landing page with a call to action.
              </p>
              <h4>What's Included</h4>
              <ul>
                <li>Up to 500 Contacts</li>
                <li>Up 1,000 Email Sends Each Month</li>
                <li>Deliverability and Compliance</li>
                <li>*Free Content Updates Up to 2 Times Per Month </li>
              </ul>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card">
                  <h3>Basic Package</h3>
                  <p>$120 for Responsive Email Template Design or you can provide your own template</p>
                  <p>$50 monthly up 750 email sends</p>
                  <p>Responsive Email Design</p>
                  <p>*Content and Creatives provided by you.</p>
                </div>
              </div>
            </section>
            <hr />
            <section>
              <h3>Standard Business Package</h3>
              <p>
                The Standard Business Package is ideal for those who are looking
                for more targeted messages.
              </p>
              <h4>What's Included</h4>
              <ul>
                <li>Up to 10,000 Contacts</li>
                <li>Up to 80,000 Email Sends Each Month</li>
                <li>Deliverability and Compliance</li>
                <li>Automated Campaigns</li>
                <li>Performance Tracking and Reporting</li>
                <li>A/B Testing</li>
                <li>List Segmentation</li>
                <li>Personalization and Dynamic Content</li>
                <li>*Free Content Updates Up to 4 Times Per Month </li>
              </ul>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card services">
                  <h3>Standard Business Package</h3>
                  <p>$150 for Responsive Email Template Design or you can provide your own template</p>
                  <p>$500 monthly</p>
                  <p>*Content and Creatives provided by you.</p>
                </div>
              </div>
            </section>
            <hr />
            <section>
              <h3>Storefront Business Package</h3>
              <p>
                The Storefront Business Package is ideal for those who are
                looking do mass email marketing.
              </p>
              <h4>What's Included</h4>
                <ul>
                  <li>Up to 100,000 Contacts</li>
                  <li>Up to 80,000 Email Sends Each Month</li>
                  <li>Deliverability and Compliance</li>
                  <li>Automated Campaigns</li>
                  <li>Performance Tracking and Reporting</li>
                  <li>A/B Testing</li>
                  <li>List Segmentation</li>
                  <li>Send Time Optimization</li>
                  <li>Personalization and Dynamic Content</li>
                  <li>*Free Content Updates Up to 4 Times Per Month</li>
                </ul>
              <div>
                <button class="accordion">
                  Pricing <img src="/assets/images/services/arrow.png" />
                </button>
                <div class="panel card services">
                  <h3>Storefront Business Package</h3>
                  <p>$150 for Responsive Email Template Design or you can provide your own template</p>
                  <p>$1,000 monthly</p>
                  <p>*Content and Creatives provided by you.</p>                
              </div>
            </section>
            <hr />
            <section class="flex1-removal">
              <h2 class="center">Want more information?</h2>
              <a class="button-contact" href="/contact.ejs"
                >Contact Us Today!</a
              >
            </section>
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
