<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="/assets/css/services/services.css" />
    <title>GoLive WebDev | Services</title>
</head>

<body>
  <%- include('templates/nav.ejs') %>
    <%- include('templates/modal.ejs') %>

      <main>
        <header>
          <div class="header-cover">
            <h1 class="services">Services</h1>
          </div>
        </header>
        <section>
          <div class="for-flex">
            <section class="card">
              <img src="/assets/images/services/wireframe2.png" />
              <section>
                <h2>Custom Website</h2>
                <p>We will build and maintain your website.</p>
                <p>We will update your website up to twice a month for free.</p>
                <p>Want weekly or even daily changes? We can do that too!</p>
              </section>
              <a class="button" href="service-website_building-description.html">Learn More</a>
            </section>

            <section class="card">
              <img src="/assets/images/home/servers.png" />
              <section>
                <h2>Dedicated Hosting</h2>
                <p>
                  We provide deidcated hosting that will help address regulatory
                  requirements and corporate compliance so you don't have too!
                </p>
                <p>So you don't have to worry!</p>
              </section>
              <a class="button" href="/contact.html">Learn More</a>
            </section>

            <section class="card">
              <img style="height: 80%; width: 40%" src="/assets/images/services/database.png" />
              <section>
                <h2>SQL Database</h2>
                <p>We can build a database.</p>
                <p>
                  Capture your customer's information in order to keep in touch.
                  Track their purchasing behavior, allowing you to reach out to
                  them with the right product or service at the right time.
                </p>
              </section>
              <a class="button" href="/service-website_building-description.html">Learn More</a>
            </section>

            <section class="card">
              <img style="height: 140px; width: auto;" src="/assets/images/services/url.png" />
              <section>
                <h2>URL Management</h2>
                <p>
                  We can secure an available domain name and email address for
                  you.
                </p>
                <p>
                  Whether you need one domain, or multiple domains, we've got you
                  covered.
                </p>
              </section>
              <a class="button" href="/service-descriptions.html">Learn More</a>
            </section>
            <section class="card">
              <img style="height: 80%; width: 35%" src="/assets/images/services/email.png" />
              <section>
                <h2>Email Marketing</h2>
                <p>We do your email marketing for you.</p>
                <p>
                  Do you need someone to create email templates for you? How about
                  sending those emails to your opt-in contacts? Yes, we can do
                  that too.
                </p>
              </section>
              <a class="button" href="/service-email-description.html">Learn More</a>
            </section>

            <section class="card">
              <img src="/assets/images/services/allservices.png" />
              <section>
                <h2>Mix and Match</h2>
                <p>You choose what service package you want.</p>
                <p>
                  Pay for what you need with no hidden fees. We are very
                  transparent in our pricing.
                </p>
              </section>
              <a class="button" href="/contact.html">Learn More</a>
            </section>
          </div>
        </section>
      </main>
      <%- include('templates/footer.ejs') %>
</body>

</html>