<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="/assets/css/card/card.css" />
    <link rel="stylesheet" href="/assets/css/services/services.css" />
    <script src="/assets/js/accordion.js" defer></script>
    <script src="/assets/js/carousel.js" defer></script>
    <title>GoLive WebDev | Services</title>
  </head>

  <body>
    <%- include('templates/nav.ejs') %>

    <main>
      <header>
        <div class="header-cover">
          <h1>Additional Services</h1>
        </div>
      </header>
      <section>
        <div class="for-flex">
          <section class="card services">
            <h2>Finding Your Business</h2>
            <p>
              There are two vastly underrated things to consider when having an
              online presence: your domain name and advertisements. By using
              both of these to their fullest potential, you can see an increase
              in leads and an increase in customers.
            </p>
            <h3 id="url">Domain Names</h3>
            <p>
              The base of a good website is a good domain name. A domain name is
              a website's URL, which is used to navigate to your website. The
              best domains are those that are short but convey the business or
              product.
            </p>
            <p>
              You want to make sure that your domain name isn't too long, or
              people won't remember it and your website will be negatively
              ranked for having too long of a domain.
            </p>
            <p>
              We are always happy to help you get the best available domain for your
              business, and will make sure that you get something you are happy
              with. <a href="/contact.html">Contact us</a> to learn more about
              domains and figure out one that works for you!
            </p>
            <hr />
            <h3 id="advertisements" style="padding-top: 20px">
              Advertisements
            </h3>
            <p>
              Getting your business to the top of Google's search results is no
              easy task, but one major way to help it is via Google
              Advertisements.
            </p>
            <p>
              When you look for something on Google, the first results that show
              up are the ones that paid to be there. We will set up
              advertisements for your business.
            </p>
            <p>
              While having a great website is the most important step to have
              people find your business, advertisements are a great way to
              further boost visibility.
            </p>
          </section>
        </div>
      </section>
    </main>
    <%- include('templates/footer.ejs') %>
  </body>
</html>
